.search_page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.recipes {
    width: 90%;
    /* background: blue; */
    /* display: flex; */
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.actions h3, .actions p {
    margin: 0;
}

.actions form {
    display: flex;
    gap: 20px;
}

.search_recipe {
    width: 300px;
    height: 30px;
    border: none;
    background: rgb(211, 211, 211);
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
}

.search_recipe:focus {
    outline: none;
}

.search_container {
    height: fit-content;
    width: fit-content;
    /* display: flex; */
    /* gap: 0px; */
    /* flex-direction: column; */
}

.search_container button {
    height: 30px;
    background: #EFC81A;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    margin-left: -20px;
}

.sort_by {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sort_order {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sort_form button {
    border: none;
    background: #EFC81A;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

.sort_form select {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(211, 211, 211);
    outline: none;
    background: rgb(211, 211, 211);
}

.sort_form select:focus {
    border: 3px solid #EFC81A ;
}

.cards {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.pagination {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.page {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: silver;
    cursor: pointer;
}

.page_active {
    background: #EFC81A;
    color: #FFF;
    pointer-events: none;
}
@media only screen and (max-width: 600px) {
    .actions {
        flex-direction: column;
        gap: 15px;
    }

    .sort_form {
        display: flex;
        justify-content: space-between;
    }

    .sort_form h3 {
        display: none;
    }
}


