@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

.box1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 500px;
    height: 850px;
    background: #EFC81A;
}

.landing_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
    height: fit-content;
}

.main_section {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 90%;
    min-height: 400px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
}

.discover {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.discover h3 {
    width: 500px;
    font-size: 48px;
    color: #2E266F;
    margin: 0;
}

.discover input {
    width: 530px;
    height: 50px;
    padding-left: 15px;
    background: #EFEFEF;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.discover input:focus {
    outline: none;
}

.banner1 {
    width: 50%;
}

.img_container {
    width: 500px;
    height: 500px;
    position: relative;
}

/* For You */

.foryou {
    margin-top: 250px;
    width: 90%;
}

.foryou h3 {
    color: #3F3A3A;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    padding-left: 15px;
    border-left: 7px solid #EFC81A;
}

.foryou_container {
    width: 100%;
    /* background: blue; */
    margin-top: 100px;
    display: flex;
    /* justify-content: space-between; */
    gap: 250px;
}

.foryou_img {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 15px;
}

.foryou_img::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border: 4px solid rgba(239, 200, 26, 1);
    left: 30px;
    top: 20px;
    border-radius: 10px;
}

.foryou_content h2 {
    width: 500px;
    font-size: 40px;
}

.foryou_content p {
    width: 500px;
    font-size: 20px;
    font-weight: 500;
}

.learn_more {
    width: 250px;
    height: 50px;
    background: #EFC81A;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/* New Recipe */

.newrecipe {
    margin-top: 150px;
    width: 90%;
    position: relative;
}

.newrecipe h3 {
    color: #3F3A3A;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    padding-left: 15px;
    border-left: 7px solid #EFC81A;
}

.newrecipe_container {
    width: 100%;
    /* background: blue; */
    margin-top: 100px;
    display: flex;
    /* justify-content: space-between; */
    gap: 250px;
    position: relative;
}

.newrecipe_img {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 15px;
}

.solid_bg {
    width: 300px;
    height: 500px;
    background: #EFC81A;
    position: absolute;
    left: -75px;
    top: -50px;
    z-index: -1;
}

/* .newrecipe_img::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: #EFC81A;
    border: 4px solid rgba(239, 200, 26, 1);
    left: -30px;
    top: -20px;
    border-radius: 10px;
} */

.newrecipe_content h2 {
    width: 500px;
    font-size: 40px;
}

.newrecipe_content p {
    width: 500px;
    font-size: 20px;
    font-weight: 500;
}

.learn_more {
    width: 250px;
    height: 50px;
    background: #EFC81A;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/* Popular */

.popular {
    margin-top: 100px;
    width: 90%;
}

.popular h3 {
    color: #3F3A3A;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    padding-left: 15px;
    border-left: 7px solid #EFC81A;
}

.cards {
    width: 100%;
    margin-top: 100px;
    /* margin-right: 0px !important; */
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}

/* Popular End */

@media only screen and (max-width: 600px) {
    .box1 {
        display: none;
    }

    .main_section {
        flex-direction: column;
        gap: 20px;
        /* justify-content: center !important;
        position: relative; */

    }

    .discover {
        width: 100%;
        z-index: 3;
    }

    .discover h3 {
        width: 100%;
        font-size: 28px;
    }

    .discover input {
        width: 100%;
        height: 40px;
    }

    .banner1 {
        width: 100%;
        /* position: absolute; */
    }

    .img_container {
        width: 351px;
        height: 351px;
        position: relative;
    }

    /* For You */
    .foryou {
        margin-top: 50px;
    }

    .foryou h3 {
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        margin: 10px 0px;
    }

    .foryou_container {
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .foryou_img {
        width: 300px;
        height: 300px;
    }

    .foryou_img::after {
        display: none;
    }

    .foryou_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .foryou_content h2 {
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 30px;
        /* margin-bottom: 30px; */
    }

    .foryou_content p {
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin: 0px;
    }

    .learn_more {
        margin: 30px auto;
    }

    /* New Recipe */
    .newrecipe {
        margin-top: 20px;
    }

    .newrecipe h3 {
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        margin: 10px 0px;
    }

    .newrecipe_container {
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .newrecipe_img {
        width: 300px;
        height: 300px;
    }

    .newrecipe_img::after {
        display: none;
    }

    .newrecipe_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .newrecipe_content h2 {
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 30px;
        /* margin-bottom: 30px; */
    }

    .newrecipe_content p {
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin: 0px;
    }

    .solid_bg {
        display: none;
    }

    /* Popular */
    .popular {
        margin-top: 30px;
    }

    .popular h3 {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .cards {
        margin-top: 30px;
        gap: 15px;
    }

}