.static_recipes h1 {
    text-align: center;
}


.cards {
    width: 80%;
    height: fit-content;
    /* background: blue; */
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 20px;
}